{% load static %}
 
<!DOCTYPE html>
<html lang="ar">
    <head>
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
            <link rel="stylesheet" href="{% static 'order_list/css/bootstrap.min.css' %}">
            <link rel="stylesheet" href="{% static 'order_list/css/main.css' %}">
            <link rel="shortcut icon" href="{% static 'order_list/images/favicon.ico' %}">
    </head>

            <body>


                {% block content %}

                {% endblock content %}

            <script src="{% static 'order_list/js/jquery-3.3.1.slim.min.js' %}"></script>
            <script src="{% static 'order_list/js/popper.min.js' %}"></script>
            <script src="{% static 'order_list/js/bootstrap.min.js' %}"></script>
            <script src="{% static 'order_list/js/fontawesome-all.min.js' %}"></script>

            </body>
            </html>