{% extends 'order_list/base.html' %}
{% load static %}

{% block content %}
<h1>welcome</h1>
<a class="text-dark" href="{% url 'add_meals' %}"> أضف وجب جديدة </a>
{% for meals in posts_meal %}
<div class=" border p-3 mb-30">
        <img src="{{meals.image.url}}" style="width: 200px; "/>
    <span class="text-secondary"><h3><a class="text-dark"
         href="{% url 'details' meals.id %}">{{ meals.name_meal }}</a> </h3>
    <p>{{ meals.content }}</p>
</div>

{% endfor %}
{% endblock content %}
