{% extends 'order_list/base.html' %}
{% load static %}


{% block content %}
<section class="order-list">
<div class="container">
        <div class="order_form">
                <div class="row">
<div class="col-md-3">
        
        {% for list_order in order_lists %}
        <div class="card" style="width:400px">
                <img class="card-img-top" src="{{list_order.image}}" alt="Card image">
                <div class="card-body">
                  <h4 class="card-title"> أسم العميل {{list_order.name}}</h4>
                  <p class="card-text">ايميل {{list_order.email}}.</p>
                  <p class="card-text"> الموقع {{list_order.location}}.</p>
                  <p class="card-text"> عدد الوجبة{{list_order.Number_of_meal}}.</p>
                  <p class="card-text"> تاريخ الطلب{{list_order.order_date}}.</p>
                </div>
              </div>
       

{% endfor %}

</div>

</div>
               
</div>
</div>
</section>
{% endblock content %}
